﻿@model SuccessModel

@{
    ViewData["Title"] = "Home";
}
@if (!String.IsNullOrWhiteSpace(Model.SuccessMessage))
{
     <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    @Model.SuccessMessage
                </h3>
            </div>
        </div>
         @if (Model.SuccessMessage.Equals("Inserted from Excel"))
         {
     <div class="row">
         <div class="col-md-4">
             <h4>Doctor Table Dev</h4>
             <div class="row">
                 <div class="col-md-12">
                     @Model.NumDoctorRecordsDev Record(s) Inserted.
                 </div>
             </div>
         </div>
         <hr />
         <div class="col-md-4">
             <h4>GPMS Table Dev</h4>
             <div class="row">
                 <div class="col-md-12">
                     @Model.NumGPMSRecordsDev Record(s) Inserted.
                 </div>
             </div>
         </div>
         <hr />
         <div class="col-md-4">
             <h4>Touchworks Table Dev</h4>
             <div class="row">
                 <div class="col-md-12">
                     @Model.NumTouchworksRecordsDev Record(s) Inserted.
                 </div>
             </div>
         </div>
     </div>  
     <div class="row">
         <div class="col-md-4">
             <h4>Doctor Table Prod</h4>
             <div class="row">
                 <div class="col-md-12">
                     @Model.NumDoctorRecordsProd Record(s) Inserted.
                 </div>
             </div>
         </div>
         <hr />
         <div class="col-md-4">
             <h4>GPMS Table Prod</h4>
             <div class="row">
                 <div class="col-md-12">
                     @Model.NumGPMSRecordsProd Record(s) Inserted.
                 </div>
             </div>
         </div>
         <hr />
         <div class="col-md-4">
             <h4>Touchworks Table Prod</h4>
             <div class="row">
                 <div class="col-md-12">
                     @Model.NumTouchworksRecordsProd Record(s) Inserted.
                 </div>
             </div>
         </div>
     </div>
         }
    </div>
}
    <hr/>
    <hr/>
   
@if ((bool)ViewData["ShowInsert"])
{
<div class="container">
    <div class="rowspace"></div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">Welcome to Integrations Managment</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            @Html.ActionLink("Upload Excel", "UploadExcel", "Integrations", null, new { @class = "btn btn-primary buttonspace" })
        </div>
        <div class="col-md-12 text-center">
            @Html.ActionLink("Insert Doctor Record", "InsertToDoctors", "Integrations", null, new { @class = "btn btn-primary buttonspace" })
        </div>
        <div class="col-md-12 text-center">
            @Html.ActionLink("Insert GPMS Provider Record", "InsertToGPSMProviders", "Integrations", null, new { @class = "btn btn-primary buttonspace" })
        </div>
        <div class="col-md-12 text-center">
            @Html.ActionLink("Insert Touchworks Provider Record", "InsertToTouchworks", "Integrations", null, new { @class = "btn btn-primary buttonspace" })
        </div>
    </div>
</div>
   
}
else
{
    <div>User not in the correct group!</div>
}
