﻿@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}
    <div class="container">
        <div class="row">
            <div class="row spacing">
                <div class="col-md-3">
                    @Html.ActionLink("Return Home", "Index", "Home", null, new { @class = "btn btn-info buttonspace" })
                </div>
            </div>
            <div class="container">
                <div class="row spacing">
                    <div class="col-md-12 text-center">
                        <h3 style="color:red">Exception Message</h3>
                        <p>
                            @Html.DisplayFor(m => m.exOutputMessage)
                        </p>
                    </div>
                </div>
                @if (Model.errors.Count>0)
                {
                    <div class="row spacing">
                        <div class="col-md-12 text-center">
                            @foreach (var error in Model.errors)
                            {
                            <p>
                                @error
                            </p>
                            }
                        </div>
                    </div>
                }
                <hr />
                @*<div class="row spacing">
                    <div class="col-md-12 text-center">
                        <h3>Failed On Insert To Table</h3>
                        <p>
                            @Html.DisplayFor(m => m.TableToBeInserted)
                        </p>
                    </div>
                </div>
                <hr />*@
                @*<div class="row spacing">
                    <div class="col-md-12 text-center">
                        <h3>Failed On Record Number</h3>
                        <p>
                            @Html.DisplayFor(m => m.LineNumber)
                        </p>
                    </div>
                </div>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h4>Doctor Table Dev</h4>
                <div class="row">
                    <div class="col-md-12">
                        @Model.NumDoctorRecordsDev Record(s) Inserted.
                    </div>
                </div>
            </div>
            <hr />
            <div class="col-md-4">
                <h4>GPMS Table Dev</h4>
                <div class="row">
                    <div class="col-md-12">
                        @Model.NumGPMSRecordsDev Record(s) Inserted.
                    </div>
                </div>
            </div>
            <hr />
            <div class="col-md-4">
                <h4>Touchworks Table Dev</h4>
                <div class="row">
                    <div class="col-md-12">
                        @Model.NumTouchworksRecordsDev Record(s) Inserted.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Doctor Table Prod</h4>
                <div class="row">
                    <div class="col-md-12">
                        @Model.NumDoctorRecordsProd Record(s) Inserted.
                    </div>
                </div>
            </div>
            <hr />
            <div class="col-md-4">
                <h4>GPMS Table Prod</h4>
                <div class="row">
                    <div class="col-md-12">
                        @Model.NumGPMSRecordsProd Record(s) Inserted.
                    </div>
                </div>
            </div>
            <hr />
            <div class="col-md-4">
                <h4>Touchworks Table Prod</h4>
                <div class="row">
                    <div class="col-md-12">
                        @Model.NumTouchworksRecordsProd Record(s) Inserted.
                    </div>
                </div>
            </div>
        </div>
    </div>
