﻿@model GroupedModel

@{
    ViewData["Title"] = "Insert";
}

<h1>Integrations Insert</h1>
<form asp-action="InsertRecord" asp-controller="Integrations" method="Post">

    <h4>Doctors Table</h4>
    <div>
        @Html.Label("ProviderPASnbr")
        @Html.TextBoxFor(m => m.doctors.ProviderPasnbr, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("ProviderName")
        @Html.TextBoxFor(m => m.doctors.ProviderName, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("PhysicianGroup")
        @Html.TextBoxFor(m => m.doctors.PhysicianGroup, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("ProviderActive")
        @Html.TextBoxFor(m => m.doctors.ProviderActive, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("ProviderUserID")
        @Html.TextBoxFor(m => m.doctors.ProviderUserId, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("ProviderNPI")
        @Html.TextBoxFor(m => m.doctors.ProviderNpi, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("ChangeNotes")
        @Html.TextBoxFor(m => m.doctors.ChangeNotes, new { @class = "form-control" })
    </div>
    <div>
        <input type="submit" name="command" value="Insert To Doctors Table" />
    </div>
    <br />
    <br />
    <h4>GE-GPMS_Providers Table</h4>
    <div>
        @Html.Label("GPMSID")
        @Html.TextBoxFor(m => m.gE_GPMS.GPMSID, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("TouchworksID")
        @Html.TextBoxFor(m => m.gE_GPMS.TouchworksID, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Lastname")
        @Html.TextBoxFor(m => m.gE_GPMS.Lastname, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Firstname")
        @Html.TextBoxFor(m => m.gE_GPMS.Firstname, new { @class = "form-control" })
    </div>
    <div>
        <input type="submit" name="command" value="Insert To GE-GPMS Table" />
    </div>
    <br />
    <br />
    <h4>TouchworksProviders Table</h4>
    <div>
        @Html.Label("SQL_Person_ID")
        @Html.TextBoxFor(m => m.touchworks.SqlPersonId, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("NPI")
        @Html.TextBoxFor(m => m.touchworks.Npi, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Provider_Code")
        @Html.TextBoxFor(m => m.touchworks.ProviderCode, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("PAS")
        @Html.TextBoxFor(m => m.touchworks.Pas, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("User_Type")
        @Html.TextBoxFor(m => m.touchworks.UserType, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("LastName")
        @Html.TextBoxFor(m => m.touchworks.LastName, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("FirstName")
        @Html.TextBoxFor(m => m.touchworks.FirstName, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Last_Login")
        @Html.TextBoxFor(m => m.touchworks.LastLogin, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Default_Org")
        @Html.TextBoxFor(m => m.touchworks.DefaultOrg, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Org_User_Has_Access_To")
        @Html.TextBoxFor(m => m.touchworks.OrgUserHasAccessTo, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Org_ID")
        @Html.TextBoxFor(m => m.touchworks.OrgId, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("State_License")
        @Html.TextBoxFor(m => m.touchworks.StateLicense, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("State_of_License")
        @Html.TextBoxFor(m => m.touchworks.StateOfLicense, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("State_License_Exp")
        @Html.TextBoxFor(m => m.touchworks.StateLicenseExp, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("DEA")
        @Html.TextBoxFor(m => m.touchworks.Dea, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("DEA_Exp")
        @Html.TextBoxFor(m => m.touchworks.DeaExp, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Default_Location")
        @Html.TextBoxFor(m => m.touchworks.DefaultLocation, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Profession")
        @Html.TextBoxFor(m => m.touchworks.Profession, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Credentials")
        @Html.TextBoxFor(m => m.touchworks.Credentials, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Specialty")
        @Html.TextBoxFor(m => m.touchworks.Specialty, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Billing_Provider")
        @Html.TextBoxFor(m => m.touchworks.BillingProvider, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Schedulable")
        @Html.TextBoxFor(m => m.touchworks.Schedulable, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Direct_ID")
        @Html.TextBoxFor(m => m.touchworks.DirectId, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Notes")
        @Html.TextBoxFor(m => m.touchworks.Notes, new { @class = "form-control" })
    </div>
    <div>
        @Html.Label("Active")
        @Html.TextBoxFor(m => m.touchworks.Active, new { @class = "form-control" })
    </div>
    <div>
        <input type="submit" name="command" value="Insert To Touchworks Table" />
    </div>
</form>