﻿@model Doctors
@{
    ViewData["Title"] = "Insert Doctor";
}
<div class="container">
    <div class="row spacing">
        <div class="col-md-3">
            @Html.ActionLink("Return Home", "Index", "Home", null, new { @class = "btn btn-info buttonspace" })
        </div>
    </div>
</div>
<div class="container">
    <div class="row spacing">
        <div class="col-md-12">
            <h4>
                Insert into Doctors Table (non-Baptist Ambulatory)
            </h4>
        </div>
    </div>
</div>

<form asp-action="InsertDoctorRecord" asp-controller="Integrations">
    <div class="container">
        <div class="row spacing">
            <div class="col-md-3">
                @Html.LabelFor(m => m.ProviderPasnbr)
                @Html.TextBoxFor(m => m.ProviderPasnbr, new { @class = "form-control" })
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.ProviderName)
                @Html.TextBoxFor(m => m.ProviderName, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.PhysicianGroup)
                @Html.TextBoxFor(m => m.PhysicianGroup, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.ProviderActive)
                @Html.TextBoxFor(m => m.ProviderActive, new { @class = "form-control" })
            </div>
        </div>
        <div class="row spacing">
            <div class="col-md-3">
                @Html.LabelFor(m => m.ProviderUserId)
                @Html.TextBoxFor(m => m.ProviderUserId, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.ProviderNpi)
                @Html.TextBoxFor(m => m.ProviderNpi, new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(m => m.ChangeNotes)
                @Html.TextBoxFor(m => m.ChangeNotes, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

