﻿@model GE_GPMS_Providers

@{
    ViewData["Title"] = "Insert GPMS Provider";
}
<div class="container">
    <div class="row spacing">
        <div class="col-md-3">
            @Html.ActionLink("Return Home", "Index", "Home", null, new { @class = "btn btn-info buttonspace" })
        </div>
    </div>
</div>
<form asp-action="InsertGPSMProviderRecord" asp-controller="Integrations">
    <div class="container">
        <div class="row spacing">
            <div class="col-md-12">
                <h4>GPSM Provider Table ("Bottomline" table)</h4>
            </div>
        </div>
        <div class="row spacing">
            <div class="col-md-3">
                @Html.LabelFor(m => m.GPMSID)
                @Html.TextBoxFor(m => m.GPMSID, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.TouchworksID)
                @Html.TextBoxFor(m => m.TouchworksID, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.Lastname)
                @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.Firstname)
                @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>
