﻿@model TouchworksProviders
@{
    ViewData["Title"] = "Insert Touchworks";
}
<div class="container">
    <div class="row spacing">
        <div class="col-md-3">
            @Html.ActionLink("Return Home", "Index", "Home", null, new { @class = "btn btn-info buttonspace" })
        </div>
    </div>
</div>
<form asp-action="InsertTouchworksRecord" asp-controller="Integrations">
    <div class="container">
        <div class="row spacing">
            <div class="col-md-12">
                <h4>Touchworks Providers Table ("eLink table")</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row spacing">
            <div class="col-md-3">
                @Html.LabelFor(m => m.SqlPersonId)
                @Html.TextBoxFor(m => m.SqlPersonId, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.Npi)
                @Html.TextBoxFor(m => m.Npi, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.ProviderCode)
                @Html.TextBoxFor(m => m.ProviderCode, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.Pas)
                @Html.TextBoxFor(m => m.Pas, new { @class = "form-control" })
            </div>
        </div>
        <div class="row spacing">
            <div class="col-md-3">
                @Html.LabelFor(m => m.UserType)
                @Html.TextBoxFor(m => m.UserType, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.LastLogin)
                @Html.TextBoxFor(m => m.LastLogin, new { @class = "form-control" })
            </div>
        </div>
        <div class="row spacing">
            <div class="col-md-3">
                @Html.LabelFor(m => m.DefaultOrg)
                @Html.TextBoxFor(m => m.DefaultOrg, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.OrgUserHasAccessTo)
                @Html.TextBoxFor(m => m.OrgUserHasAccessTo, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.OrgId)
                @Html.TextBoxFor(m => m.OrgId, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.StateLicense)
                @Html.TextBoxFor(m => m.StateLicense, new { @class = "form-control" })
            </div>
        </div>
        <div class="row spacing">
            <div class="col-md-3">
                @Html.LabelFor(m => m.StateOfLicense)
                @Html.TextBoxFor(m => m.StateOfLicense, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.StateLicenseExp)
                @Html.TextBoxFor(m => m.StateLicenseExp, new { @class = "form-control" })

            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.Dea)
                @Html.TextBoxFor(m => m.Dea, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.DeaExp)
                @Html.TextBoxFor(m => m.DeaExp, new { @class = "form-control" })
            </div>
        </div>
        <div class="row spacing">
            <div class="col-md-3">
                @Html.LabelFor(m => m.DefaultLocation)
                @Html.TextBoxFor(m => m.DefaultLocation, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.Profession)
                @Html.TextBoxFor(m => m.Profession, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.Credentials)
                @Html.TextBoxFor(m => m.Credentials, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.Specialty)
                @Html.TextBoxFor(m => m.Specialty, new { @class = "form-control" })
            </div>
        </div>
        <div class="row spacing">
            <div class="col-md-2">
                @Html.LabelFor(m => m.BillingProvider)
                @Html.TextBoxFor(m => m.BillingProvider, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.Schedulable)
                @Html.TextBoxFor(m => m.Schedulable, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.DirectId)
                @Html.TextBoxFor(m => m.DirectId, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.Notes)
                @Html.TextBoxFor(m => m.Notes, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.Active)
                @Html.TextBoxFor(m => m.Active, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>
