﻿@model ExcelModel
@{
    ViewData["Title"] = "Upload Excel";
}
@using System.Data;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row spacing">
        <div class="col-md-3">
            @Html.ActionLink("Return Home", "Index", "Home", null, new { @class = "btn btn-info buttonspace" })
        </div>
    </div>
</div>
<form method="post" enctype="multipart/form-data" asp-controller="Integrations" asp-action="UploadExcel">
    <div class="container">
        <div class="row spacing">
            <div class="col-md-12">
                <h1>Upload Excel</h1>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload one or more files using this form:</p>
            <input type="file" name="file" id="file" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" id="btnUpload" value="Upload" class="btn btn-primary" />
        </div>
    </div>
</form>

@if (Model != null)
{
    <hr />
    <hr />
    <form asp-action="InsertRecords" asp-controller="Integrations">
        @if (Model.GroupedModel != null)
        {
            int i = 0;
            @foreach (GroupedModel gm in Model.GroupedModel)
            {

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Doctors Table</h4>
                        </div>
                    </div>
                    <div class="row spacing">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].doctors.ProviderPasnbr)
                            <input class="form-control" value='@gm.doctors.ProviderPasnbr' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].doctors.ProviderPasnbr" value="@gm.doctors.ProviderPasnbr" />
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(m => m.GroupedModel[0].doctors.ProviderName)
                            <input class="form-control" value='@gm.doctors.ProviderName' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].doctors.ProviderName" value="@gm.doctors.ProviderName" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].doctors.PhysicianGroup)
                            <input class="form-control" value='@gm.doctors.PhysicianGroup' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].doctors.PhysicianGroup" value="@gm.doctors.PhysicianGroup" />
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(m => m.GroupedModel[0].doctors.ProviderActive)
                            <input class="form-control" value='@gm.doctors.ProviderActive' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].doctors.ProviderActive" value="@gm.doctors.ProviderActive" />
                        </div>
                    </div>
                    <div class="row spacing">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].doctors.ProviderUserId)
                            <input class="form-control" value='@gm.doctors.ProviderUserId' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].doctors.ProviderUserId" value="@gm.doctors.ProviderUserId" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].doctors.ProviderNpi)
                            <input class="form-control" value='@gm.doctors.ProviderNpi' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].doctors.ProviderNpi" value="@gm.doctors.ProviderNpi" />
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.GroupedModel[0].doctors.ChangeNotes)
                            <input class="form-control" value='@gm.doctors.ChangeNotes' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].doctors.ChangeNotes" value="@gm.doctors.ChangeNotes" />
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <hr />
                <hr />
                <div class="container">
                    <div class="row ">
                        <div class="col-md-12">
                            <h4>GE-GPMS_Providers Table</h4>
                        </div>
                    </div>
                    <div class="row spacing">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].gE_GPMS.GPMSID)
                            <input class="form-control" value='@gm.gE_GPMS.GPMSID' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].gE_GPMS.GPMSID" value="@gm.gE_GPMS.GPMSID" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].gE_GPMS.TouchworksID)
                            <input class="form-control" value='@gm.gE_GPMS.TouchworksID' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].gE_GPMS.TouchworksID" value="@gm.gE_GPMS.TouchworksID" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].gE_GPMS.Lastname)
                            <input class="form-control" value='@gm.gE_GPMS.Lastname' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].gE_GPMS.Lastname" value="@gm.gE_GPMS.Lastname" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].gE_GPMS.Firstname)
                            <input class="form-control" value='@gm.gE_GPMS.Firstname' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].gE_GPMS.Firstname" value="@gm.gE_GPMS.Firstname" />
                        </div>
                    </div>
                </div>
                <hr />
                <hr />
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>TouchworksProviders Table</h4>
                        </div>
                    </div>
                    <div class="row spacing">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.SqlPersonId)
                            <input class="form-control" value='@gm.touchworks.SqlPersonId' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.SqlPersonId" value="@gm.touchworks.SqlPersonId" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.Npi)
                            <input class="form-control" value='@gm.touchworks.Npi' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.Npi" value="@gm.touchworks.Npi" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.ProviderCode)
                            <input class="form-control" value='@gm.touchworks.ProviderCode' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.ProviderCode" value="@gm.touchworks.ProviderCode" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.Pas)
                            <input class="form-control" value='@gm.touchworks.Pas' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.Pas" value="@gm.touchworks.Pas" />
                        </div>
                    </div>
                    <div class="row spacing">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.UserType)
                            <input class="form-control" value='@gm.touchworks.UserType' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.UserType" value="@gm.touchworks.UserType" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.LastName)
                            <input class="form-control" value='@gm.touchworks.LastName' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.LastName" value="@gm.touchworks.LastName" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.FirstName)
                            <input class="form-control" value='@gm.touchworks.FirstName' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.FirstName" value="@gm.touchworks.FirstName" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.LastLogin)
                            <input class="form-control" value='@gm.touchworks.LastLogin' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.LastLogin" value="@gm.touchworks.LastLogin" />
                        </div>
                    </div>
                    <div class="row spacing">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.DefaultOrg)
                            <input class="form-control" value='@gm.touchworks.DefaultOrg' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.DefaultOrg" value="@gm.touchworks.DefaultOrg" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.OrgUserHasAccessTo)
                            <input class="form-control" value='@gm.touchworks.OrgUserHasAccessTo' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.OrgUserHasAccessTo" value="@gm.touchworks.OrgUserHasAccessTo" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.OrgId)
                            <input class="form-control" value='@gm.touchworks.OrgId' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.OrgId" value="@gm.touchworks.OrgId" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.StateLicense)
                            <input class="form-control" value='@gm.touchworks.StateLicense' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.StateLicense" value="@gm.touchworks.StateLicense" />
                        </div>
                    </div>
                    <div class="row spacing">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.StateOfLicense)
                            <input class="form-control" value='@gm.touchworks.StateOfLicense' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.StateOfLicense" value="@gm.touchworks.StateOfLicense" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.StateLicenseExp)
                            <input class="form-control" value='@gm.touchworks.StateLicenseExp' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.StateLicenseExp" value="@gm.touchworks.StateLicenseExp" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.Dea)
                            <input class="form-control" value='@gm.touchworks.Dea' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].Dea.DEA" value="@gm.touchworks.Dea" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.DeaExp)
                            <input class="form-control" value='@gm.touchworks.DeaExp' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.DeaExp" value="@gm.touchworks.DeaExp" />
                        </div>
                    </div>
                    <div class="row spacing">
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.DefaultLocation)
                            <input class="form-control" value='@gm.touchworks.DefaultLocation' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.DefaultLocation" value="@gm.touchworks.DefaultLocation" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.Profession)
                            <input class="form-control" value='@gm.touchworks.Profession' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.Profession" value="@gm.touchworks.Profession" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.Credentials)
                            <input class="form-control" value='@gm.touchworks.Credentials' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.Credentials" value="@gm.touchworks.Credentials" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.Specialty)
                            <input class="form-control" value='@gm.touchworks.Specialty' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.Specialty" value="@gm.touchworks.Specialty" />
                        </div>
                    </div>
                    <div class="row spacing">
                        <div class="col-md-2">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.BillingProvider)
                            <input class="form-control" value='@gm.touchworks.BillingProvider' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.BillingProvider" value="@gm.touchworks.BillingProvider" />
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.Schedulable)
                            <input class="form-control" value='@gm.touchworks.Schedulable' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.Schedulable" value="@gm.touchworks.Schedulable" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.DirectId)
                            <input class="form-control" value='@gm.touchworks.DirectId' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.DirectId" value="@gm.touchworks.DirectId" />
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.Notes)
                            <input class="form-control" value='@gm.touchworks.Notes' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.Notes" value="@gm.touchworks.Notes" />
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(m => m.GroupedModel[0].touchworks.Active)
                            <input class="form-control" value='@gm.touchworks.Active' readonly="readonly" />
                            <input type="hidden" name="GroupedModel[@i].touchworks.Active" value="@gm.touchworks.Active" />
                        </div>
                    </div>
                </div>
                i++;
            }
            <hr />
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <input type="submit" value="Insert Records" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </form>
}

@section scripts {
    <script src="~/js/UploadExcel.js" asp-append-version="true"></script>
}